name: Build and Release

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn clean install --file pom.xml

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: shdownloader-jars
        path: |
          spigot/target/shdownloader-spigot-*.jar
          velocity/target/shdownloader-velocity-*.jar

    - name: Update Latest Release
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: "Latest Development Build"
        files: |
          spigot/target/shdownloader-spigot-*.jar
          velocity/target/shdownloader-velocity-*.jar
