name: Release Latest

on:
  push:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn clean package --file pom.xml

    - name: Delete existing release and tag
      uses: dev-drprasad/delete-tag-and-release@v1.0
      with:
        delete_release: true
        tag_name: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload to Latest Release
      uses: softprops/action-gh-release@v1
      with:
        name: Latest Build
        tag_name: latest
        body: |
          Latest automatic build from master/main.
          
          **Contains:**
          - Spigot/Paper/Folia Plugin
          - Velocity Plugin
        files: |
          spigot/target/shdownloader-spigot-*.jar
          velocity/target/shdownloader-velocity-*.jar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
